/* line 1, /home/ubuntu/workspace/app_curriculo/app/assets/stylesheets/vaga.css.scss */
.search {
  margin-top: 110px;
  height: 200px;
}

/* line 7, /home/ubuntu/workspace/app_curriculo/app/assets/stylesheets/vaga.css.scss */
.vaga-show {
  margin-top: 30px;
}
