<div class="main" id="home">
    
      <div id="apresentacao w3-margin-top w3-margin-botton">
        <%= image_tag "trabalho.jpg", class: "w3-image", style:"width:100%" %>
     </div>
     
     
      <div class="container ">
      	<div class="row-fluid">
              <div class="span8">
              	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30625.00038166426!2d-46.89607073479564!3d-16.367591163031914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29b360dc216734e9!2sCapul!5e0!3m2!1spt-BR!2sbr!4v1487537857763" width="1200" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          	</div>
        </div>
      </div>
      
  
    
   
    
    
    
</div>