
/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require sweetalert2
 */

header {
  
}

.cabecalho{
  background-color: #003e00;
  font-family: 'PT Sans', sans-serif;
}


body {
    padding-top: 50px;
    position: relative;
    height: 100%;
}


footer{
  background-color: #003e00;
  color: white;
  ffont-family: 'PT Sans', sans-serif;
}


.submenu{
   display: inline-block;
}

.cabecalho-descricao{
   font-family: 'PT Sans', sans-serif;
}

pre {
      tab-size: 8;
  }
  
  @media screen and (max-width: 768px) {
      .side-collapse-container{
          width:100%;
          position:relative;
          left:0;
          transition:left .4s;
      }
      .side-collapse-container.out{
          left:200px;
          
      }
      .side-collapse {
          top:50px;
          bottom:0;
          left:0;
          width:200px;
          position:fixed;
          overflow:hidden;
          transition:width .4s;

      }
          .side-collapse.in {
              width:0;
          }
  
}




.descricao{
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 120px;
}

.descricao h2{
    color: black;
}

.search .lb{
    margin-top: 10px;
    font-size: 20px;
}


.conteudo{
    position: relative;
    height: auto;
    min-height: 480px;    
    
}



