  <div class="col-md-6 col-md-offset-4 w3-margin-top w3-card-4 w3-hover-shadow w3-round-xlarge"> 
    
    
    <%= render 'form', candidato: @candidato %>
    
    <hr>
    <%= link_to 'Voltar', :back , class: "btn btn-danger" %>
 </div>