  <div class="col-md-6 col-md-offset-3 w3-margin-top w3-card-4 w3-hover-shadow w3-round-xlarge"> 
    <%= description_w3("Candidatar: "+@vaga.descricao) %>

    
    <%= render 'form', candidato: @candidato %>
    
    <hr>
    <%= link_to 'Cancelar', :back , class: "btn btn-danger" %>
 </div>