

  <% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in w3-pale-green">
    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
    <%= message %>
  </div>
  <% end %>
