
  <% flash.each do |type, message| %>
     <script >
      
      $.notify("I'm over here !");
    </script>
  <div class="w3-container w3-large w3-margin-top w3-round-large <%= w3_class_for(type) %> ">
    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
    <h3><%= message %></h3>
  </div>
  <% end %>
